.page {
  max-width: 1440px;
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 780px) {
  .page {
    max-width: 780px;
  }
}
