.button__arrow_orange{
    background-image: url(../../../../images/button__arrow_orange.svg);
}

.button_link_orange:hover .button__arrow_orange{
    background-image: url(../../../../images/button__arrow_white.svg);
}

@media screen and (max-width: 1000px) {
    .button__arrow_orange{
        width: 13px;
        height: 13px;
        background-size: 13px;
    }
}