.button__arrow_slider-right{
    background-image: url(../../../../images/button__arrow_white.svg);
    width: 17px;
    height: 17px;
    background-size: 17px;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .button__arrow_slider-right{
        width: 10px;
        height: 10px;
        background-size: 10px;
    }
}