.consumers {
  min-height: 755px;
  max-height: fit-content;
  max-width: 100%;
  margin: 0 auto;
  background-color: #F5F5F5;
}

@media screen and (max-width: 985px) {
  .consumers {
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 460px) {
  .consumers {
    padding-bottom: 32px;
  }
}