.footer__info-description {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  max-width: 483px;
}

@media (max-width: 1300px) {
  .footer__info-description {
    padding-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}

@media (max-width: 630px) {
  .footer__info-description {
    font-size: 12px;
  }
}
