.numbers {
  padding: 0 40px 150px;
  max-width: 1360px;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  .numbers {
    max-width: 1045px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 568px) {
  .numbers {
    padding: 0 10px 64px;
  }
}

@media screen and (max-width: 390px) {
  .numbers {
    max-width: 300px;
  }
}
