.story-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  flex: 1;
}

@media screen and (max-width: 1100px) {
  .story-card__title {
    margin-bottom: 7px;
    font-size: 20px;
    flex: 0;
  }
}

@media screen and (max-width: 765px) {
  .story-card__title {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}
