.numbers__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%; 
  margin: 0;
}

@media screen and (max-width: 1439px) {
  .numbers__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 568px) {
  .numbers__title {
    font-size: 18px;
  }
}