.special__container {
  background: #E7F0FF;
  border-radius: 30px;
  padding: 30px;
  display: grid;
  grid-template-columns: 194px 233px 186px 134px 555px;
  grid-template-rows: 23px 20px 154px 20px 107px 20px 48px;
}

@media screen and (max-width: 1439px) {
  .special__container {
    grid-template-columns: 194px 155px 78px 102px 455px;
    grid-template-rows: 23px 20px 80px 20px 77px 20px 48px;
  }
}

@media screen and (max-width: 1125px) {
  .special__container {
    border-radius: 20px;
    grid-template-columns: 148px 52px 86px 29px 27px 27px 259px;
    grid-template-rows: 19px 12px 86px 10px 76px 44px 20px 24px;
  }
}

@media screen and (max-width: 767px) {
  .special__container {
    padding: 25px;
    grid-template-columns: 254px;
    grid-template-rows: 24px 20px 180px 20px 82px 10px 68px 20px 44px;
  }
}
