.header {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 3;
}

@media (max-width: 1000px) {
  .header {
    padding-bottom: 56px;
  }
}

@media (max-width: 630px) {
  .header {
    padding-bottom: 50px;
  }
}
