.header__menu_group_list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
  flex-direction: column;
}

@media (min-width: 630px) {
  .header__menu_group_list {
    display: flex;
  }
}
