.footer__contacts {
  display: flex;
  column-gap: 53px;
  padding-top: 44px;
}

@media (max-width: 1300px) {
  .footer__contacts {
    padding-top: 28px;
    flex-direction: column;
    row-gap: 16px;
  }
}

@media (max-width: 630px) {
  .footer__contacts {
    order: 4;
    padding-top: 47px;
    row-gap: 10px;
  }
}
