.button__slide {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 1125px) {
  .button__slide {
    width: 24px;
    height: 24px;
    border-radius: 6px;
  }
}