.header__menu-group-list-element {
  margin: 0;
  padding: 0 0 20px 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
}

@media (max-width: 1130px) {
  .header__menu-group-list-element {
    font-size: 16px;
    line-height: 120%;
    max-width: 196px;
  }
}

@media (max-width: 630px) {
  .header__menu-group-list-element {
    padding: 0 0 10px 0;
  }

  .header__menu-group-list-element:first-of-type {
    padding-top: 25px;
  }
}
