@media (max-width: 1300px) {
  .footer__contacts_phones {
    display: flex;
    flex-direction: column;
    column-gap: 16px;
  }
}

@media (max-width: 630px) {
  .footer__contacts_phones {
    flex-direction: row;
  }
}
