.stories__title {
  margin-bottom: 98px;
  grid-area: header;
  color: #333333;
}

@media screen and (max-width: 1100px) {
  .stories__title {
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 600px) {
  .stories__title {
    margin-bottom: 23px;
  }
}
