.header__menu_button {
  background-color: transparent;
  border: 0;
  transition: all 0.5s linear;
}

.header__menu_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .header__menu_button {
    order: 4;
    padding-left: 24px;
  }
}

@media (max-width: 630px) {
  .header__menu_button {
    order: initial;
    padding: 0;
  }
}
