.stories__container {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 212px;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
    "header all-story"
    "story story"
    "card-story card-story";

}

@media screen and (max-width: 1100px) {
  .stories__container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "story"
      "card-story"
      "all-story"
  ;
  }
}

@media screen and (max-width: 600px) {
  .stories__container {
    padding: 0 9px;
  }
}
