.footer__subheader {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  padding-top: 90px;
}

@media (max-width: 1300px) {
  .footer__subheader {
    font-size: 20px;
    padding-top: 56px;
  }
}

@media (max-width: 630px) {
  .footer__subheader {
    font-size: 16px;
    padding-top: 24px;
  }
}

@media (max-width: 320px) {
  .footer__subheader {
    max-width: 166px;
  }
}
