.special__slides {
  max-width: 78px;
  position: absolute;
  top: 388px;
  right: 681px;
  z-index: 1;
}

@media screen and (max-width: 1439px) {
  .special__slides{
    top: 288px;
    right: 560px;
  }
}

@media screen and (max-width: 1125px) {
  .special__slides{
    max-width: 56px;
    top: 290px;
    right: 355px;
  }
}

@media screen and (max-width: 767px) {
  .special__slides {
    top: 24px;
    right: 30px;
  }
}