.button_link_white {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #333333;
  padding: 0 14px 0 10px;
}

.button_link_white:hover {
  color: #00275C;
}

.button_link_white:active {
  color: #0C4BA0;
}

@media screen and (max-width: 1000px) {
  .button_link_white {
    height: 39px;
  }
}

@media screen and (max-width: 550px) {
  .button_link_white {
    height: 37px;
  }
}
