.footer__adress {
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  max-width: 313px;
}

@media (max-width: 769px) {
  .footer__adress {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }
}

@media (max-width: 321px) {
  .footer__adress {
    font-size: 12px;
  }
}
