.footer__practicum-info {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding-top: 37px;
  grid-column: 1 / 3;
}

@media (max-width: 1300px) {
  .footer__practicum-info {
    padding-top: 34px;
    gap: 10px;
  }
}

@media (max-width: 630px) {
  .footer__practicum-info {
    order: 7;
    padding-top: 40px;
    flex-direction: column;
    align-items: flex-start;
  }
}
