.story-card__container {
  margin: 30px 30px;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .story-card__container {
    margin: 25px 13px 25px 20px;
  }

  .story-card:last-of-type .story-card__container {
    margin: 14px 13px 13px 20px;
  }
}

@media screen and (max-width: 600px) {
  .story-card__container {
    margin: 16px;
  }

  .story-card:last-of-type .story-card__container {
    margin: 14px 13px 13px 17px;
  }

}
