.header_menu_highlight_last_row {
  padding-bottom: 26px;
}

@media (max-width: 769px) {
  .header_menu_highlight_last_row {
    padding-bottom: 24px;
  }
  .header_menu_highlight_last_row:last-of-type {
    padding: 0;
  }
}
