.button_watch { 
  width: 194px;
  height: 48px;
  border: 1px solid #333333;
  border-radius: 10px;
  background: transparent;
  color: #333333;
  height: 44px;
  cursor: pointer;
  grid-column: 1 / 3;
  grid-row: 7 / 9;
}

@media screen and (max-width: 1439px) {
  .button_watch {
    width: 200px;
    height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .button_watch {
    width: 250px;
    grid-column: 1 / 4;
    grid-row: 9 / 10;
  }
}