.donation-form__label-chbox{
  padding: 0;
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

.donation-form__label-chbox:first-of-type{
  margin-top: 26px;
}

.donation-form__label-chbox:last-of-type{
  margin-bottom: 23px;
}

@media screen and (max-width: 768px){
  .donation-form__label-chbox{
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 120%;
  }

  .donation-form__label-chbox:first-of-type{
    margin-top: 8px;
  }
}

@media screen and (max-width: 410px){
  .donation-form__label-chbox:last-of-type{
    margin-bottom: 27px;
  }
}
