.menu__navigation_list {
  padding: 0 42px 0 42px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  transition: all 0.5s linear;
}
