.news-card__image {
  grid-area: image;
  margin: 0 0 30px 0;
  border-radius: 30px;
  width: 380px;
  height: 302px;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .news-card__image {
    width: 274px;
    height: 212px;
  }
}

@media screen and (max-width: 760px) {
  .news-card__image {
    width: 252px;
    height: 192px;
    margin-bottom: 20px;
  }
}
