.accordions__active .accordions__text {
  height: 76px;
}

@media screen and (max-width: 568px) {
  .accordions__active .accordions__text {
    height: 126px;
    border-radius: 15px;
  }
}

.accordions__active .accordions__open {
  background: transparent url(../../../images/accordion__open-hover.svg) no-repeat;
  background-size: contain; 
  transform: rotate(45deg);
  transition: all 200ms ease;
}