@media (max-width: 1000px) {
  .header_menu_group_last_row {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    column-gap: 78px;
  }
}

@media (max-width: 630px) {
  .header_menu_group_last_row {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
}
