.menu__navigation-list-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  transition: all 0.5s linear;
}

@media (max-width: 1200px) {
  .menu__navigation-list-link {
    font-size: 16px;
    line-height: 120%;
  }
}
