.footer__fund_logo {
  width: 100px;
  height: 48px;
  background-image: url('../../../images/fund_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1300px) {
  .footer__fund_logo {
    width: 88.38px;
    height: 30px;
  }
}

@media (max-width: 630px) {
  .footer__fund_logo {
    width: 72.67px;
    height: 24.67px;
  }
}
