.header__menu-group-title-highlight_bold-links {
  padding-bottom: 26px;
}

@media (max-width: 1000px) {
  .header__menu-group-title-highlight_bold-links {
    padding-bottom: 24px;
  }
}

@media (max-width: 630px) {
  .header__menu-group-title-highlight_bold-links {
    padding-bottom: 20px;
  }
}
