.story__icon-quote {
  grid-area: icon-quote;
  margin: 17px 12px 0 12px;
}

@media screen and (max-width: 1100px) {
  .story__icon-quote {
    margin: 0;
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 600px) {
  .story__icon-quote {
    margin: 10px 0 4px 1px;
    width: 24px;
    height: 24px;
  }
}
