.footer__subheader_text {
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #333333;
  padding-top: 90px;
}

@media (max-width: 769px) {
  .footer__subheader_text {
    font-size: 20px;
    padding-top: 56px;
  }
}

@media (max-width: 321px) {
  .footer__subheader_text {
    font-size: 16px;
    padding-top: 24px;
  }
}
