.footer {
  padding: 80px 40px 150px 40px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
}

@media (max-width: 769px) {
  .footer {
  }
}

@media (max-width: 321px) {
  .footer {
    display: block;
  }
}
