.carousel__slide{
  padding: 0;
  margin: 0;
  /*min-width: 1360px;*/
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
