.story-card {
  font-family: 'Raleway', Helvetica, sans-serif;
  background-color: #EAE6FF;
  border-radius: 30px;
}

@media screen and (max-width: 1100px) {
  .story-card {
    border-radius: 20px;
  }
}
