.header_menu_group_title_highlight_last_row {
  padding-bottom: 26px;
}

@media (max-width: 1000px) {
  .header_menu_group_title_highlight_last_row {
    padding-bottom: 24px;
  }
}

@media (max-width: 630px) {
  .header_menu_group_title_highlight_last_row {
    padding-bottom: 20px;
  }
}
