.footer__support_container_logos {
  display: flex;
  gap: 50px;
  padding-top: 19px;
  transition: all 0.5s linear;
}

@media (max-width: 1300px) {
  .footer__support_container_logos {
    gap: 21.15px;
  }
}
