.header__top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 40px;
  height: 80px;
  position: sticky;
  top: 0px;
  background-color: white;
}

@media (max-width: 1000px) {
  .header__top-container {
    justify-content: flex-end;
  }
}

@media (max-width: 630px) {
  .header__top-container {
    justify-content: space-between;
    padding: 0 10px 0 10px;
    height: 54px;
  }
}
