.button {
  text-decoration: none;
  border-radius: 10px;
  border: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 16px;
  cursor: pointer;
  transition: all 200ms ease;
}

@media screen and (max-width: 1000px) {
  .button {
    height: 44px;
    font-size: 16px;
  }
}

@media screen and (max-width: 550px) {
  .button {
    font-size: 14px;
  }
}
