.button_place_consumers {
  margin: auto 0 30px 30px;
}

@media screen and (max-width: 460px) 
{
  .button_place_consumers
  {
    margin-top: auto;
    margin-left: 24px;
    margin-bottom: 24px;
  }  
}

